@model Linguist.Web.Models.CategoryViewModel
    
@{
    string header;
    if (Model.CurrentCategoryId == 0)
    {
        header = "Словари";
    }
    else
    {
        header = Model.Categories.FirstOrDefault(c => c.CategoryId == Model.CurrentCategoryId).CategoryName;
    }
}


<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle large" type="button" data-toggle="dropdown">@header
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        
        <li><a href="@Url.Action("MyWords", "Home")">Все слова</a></li>

        @foreach (var category in Model.Categories)
        {
            if (category.CategoryId == Model.CurrentCategoryId)
            {
                <li><a href="@Url.Action("Edit", "Category", new { categoryId = category.CategoryId })">@category.CategoryName</a></li>
            }
            else
            {
                <li><a href="@Url.Action("MyWords", "Home", new { categoryId = category.CategoryId })">@category.CategoryName</a></li>
            }
        }
        
        <li><a href="@Url.Action("Add", "Category")">Добавить словарь</a></li>
    </ul>
</div>