@model Linguist.Web.Models.WordViewModel

@{
    ViewBag.Title = "Linguist: редактирование слова";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Редактирование слова</h2>

<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Word.WordId)
            @Html.HiddenFor(model => model.Word.UserId)
            @Html.HiddenFor(model => model.Word.DateAdded)
            @Html.HiddenFor(model => model.Word.RememberIndex)

            <div class="form-group">
                @Html.Label("Слово или фраза:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Word.OriginalWord, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Word.OriginalWord, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.Label("Транскрипция:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Word.Transcription, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Перевод:", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Word.Translation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Word.Translation, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.Label("Словари: ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="current-categories">
                        @foreach (var category in Model.WordCategories)
                        {
                            <h3>
                                <span class="label label-info" id="@category.CategoryId">@category.CategoryName</span>
                                <div style="display: inline" id="@category.CategoryId" onClick="removeAction(this.id)">
                                    <img src="~/Resources/Remove-icon16px.png"/>
                                </div>
                            </h3>
                        }
                    </div>
                    <br/>
                    <p>
                        @Html.DropDownList("CategoryId", ViewBag.CategoriesListItems as IEnumerable<SelectListItem>, "Выберите словарь", new { htmlAttributes = new { @class = "form-control" } })
                        <img src="~/Resources/Add-icon.png" width="24" id="addCategory"/>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-primary" onclick="saveAction(@Model.Word.WordId)"/>
                    <a class="btn btn-primary" href="@Model.ReturnUrl">Назад</a>
                    @Html.ActionLink("Удалить", "Remove", "Word", new { wordId = Model.Word.WordId }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/editWordController.js"></script>