@model IEnumerable<Linguist.DataLayer.Model.Word>

@{
    ViewBag.Title = "MyWords";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>MyWords</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Translation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Translation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WordId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WordId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WordId })
        </td>
    </tr>
}

</table>
