@model IEnumerable<Linguist.DataLayer.Model.Word>

@{
    ViewBag.Title = "Linguist: Мои слова";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Мои слова</h2>

<h5>Вы вошли как @Html.Action("GetUserName", "Account")</h5>

<div class="row">

    <div id="genres" class="col-md-3 col-sm-3 hidden-xs" style="min-width: 250px">
        @Html.Action("CategoryMenu", "Category")
    </div>

    <div class="col-md-7 col-sm-7">

        <p>
            <div class="col-md-6">
                @Html.ActionLink("Добавить слово", "Add", "Word")
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Добавить группу", "Add", "Category")
            </div>
        </p>

        <table class="table">
            <tr>
                <th class="text-center">
                    @Html.DisplayName("Слово")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Перевод")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Дата")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalWord)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Translation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.ActionLink("Изменить", "Edit", "Word", new { wordId = item.WordId, returnUrl = Request.Url.PathAndQuery }, null)
                        @Html.ActionLink("Удалить", "Remove", "Word", new { wordId = item.WordId, returnUrl = Request.Url.PathAndQuery }, null)
                    </td>
                </tr>
            }

        </table>
    </div>

</div>