@model IEnumerable<Linguist.DataLayer.Model.Word>

@{
    ViewBag.Title = "Linguist: Мои слова";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Мои слова</h2>

<h5>Вы вошли как @Html.Action("GetUserName", "Account")</h5>

<div class="row">

    <div id="genres" class="col-md-3 col-sm-3 hidden-xs" style="min-width: 250px">
        @Html.Action("CategoryMenu", "Category")
    </div>

    <div class="col-md-7 col-sm-7">
        
        <p>
            <div class="col-md-6">
                @Html.ActionLink("Добавить слово", "Add", "Word", null, new { @class = "btn btn-default" })
            </div>
        </p>

        <table class="table">
            <tr>
                <th class="text-center">
                    <h3><b>@Html.DisplayName("Слово")</b></h3>
                </th>
                <th class="text-center">
                    <h3><b>@Html.DisplayName("Перевод")</b></h3>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <h3>@Html.ActionLink(item.OriginalWord, "Edit", "Word", new { wordId = item.WordId, returnUrl = Request.Url.PathAndQuery }, null)</h3>
                    </td>
                    <td>
                        <h3>@Html.DisplayFor(modelItem => item.Translation)</h3>
                    </td>
                    <td>
                        <h3>@Html.ActionLink("Удалить", "Remove", "Word", new { wordId = item.WordId, returnUrl = Request.Url.PathAndQuery }, null)</h3>
                    </td>
                </tr>
            }

        </table>
    </div>

</div>