@using Linguist.Web.HtmlHelpers
@model Linguist.Web.Models.WordListViewModel

@{
    ViewBag.Title = "Linguist: Мои слова";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@ViewBag.Message</strong>
            </div>
        </div>
    </div>
}

<h2>Мои слова</h2>

<h5>Вы вошли как @Html.Action("GetUserName", "Account")</h5>

<div class="row">

    <div id="genres" class="col-md-3 col-sm-3 hidden-xs" style="min-width: 250px">
        @Html.Action("CategoryMenu", "Category")
    </div>

    <div class="col-md-7 col-sm-7 col-xs-12">

        <p>
            @Html.ActionLink("Добавить слово", "Add", "Word", new { categoryId = Model.CurrentCategoryId }, new {@class = "btn btn-default"})
        </p>

        <table class="table well">
            <tr>
                <th class="text-center">
                    @Html.DisplayName("Слово")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Перевод")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Словари")
                </th>
            </tr>

            @foreach (var item in Model.WordsWithCategories)
            {
                var word = item.Word;

                <tr>
                    <td>
                        @Html.ActionLink(word.OriginalWord, "Edit", "Word", new { wordId = word.WordId, returnUrl = Request.Url.PathAndQuery }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => word.Translation)
                    </td>
                    <td>
                        @foreach (var category in item.WordCategories)
                        {
                            <h5><span class="label label-info">@category.CategoryName</span></h5>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="btn-group" style="margin-bottom: 20px">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("MyWords", new { page = x, categoryId = Model.CurrentCategoryId }))
</div>