@model IEnumerable<Linguist.DataLayer.Model.Word>

<link href="~/Content/MyWordsMobileStyles.css" rel="stylesheet" />

@{
    ViewBag.Title = "Linguist: Мои слова";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Мои слова</h2>

<h5>Вы вошли как @Html.Action("GetUserName", "Account")</h5>

<div class="row">
    <div class="col-sm-7 col-xs-12">
        
        <p>
            @Html.Action("CategoryMenu", "Category", new { mobile = true })
        </p>
        <p>
            @Html.ActionLink("Добавить слово", "Add", "Word", null, new { @class = "btn btn-default large" })
        </p>

        <table class="table well">
            <tr>
                <th class="text-center">
                    <h4><b>@Html.DisplayName("Слово")</b></h4>
                </th>
                <th class="text-center">
                    <h4><b>@Html.DisplayName("Перевод")</b></h4>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <h4>@Html.ActionLink(item.OriginalWord, "Edit", "Word", new { wordId = item.WordId, returnUrl = Request.Url.PathAndQuery }, null)</h4>
                    </td>
                    <td>
                        <h4>@Html.DisplayFor(modelItem => item.Translation)</h4>
                    </td>
                    <td>
                        <h4>@Html.ActionLink("Удал.", "Remove", "Word", new { wordId = item.WordId, returnUrl = Request.Url.PathAndQuery }, null)</h4>
                    </td>
                </tr>
            }

        </table>
    </div>

</div>